<%- include("partials/header.ejs"); %>
            
            <img src="img/facebook.png" alt="Picture of tech logos" />
            <h2>Facebook's start</h2>
            <div id="facebookAbout">
            <div class="container">
    <pre>
   Facebook started as nothing more than a way for college students to connect to each other 
   regarding courses or different student activities. Mark Zuckerberg, a sophomore at Harvard
   at the time, originally started it out labeled as The Facebook. Eventually, thousands to 
   millions of students were using this platform. Catching Peter Thiel's interest, he invested
   five-hundred thousand. 
    </pre>
    
    <pre>
    Facebook is now globally known with billions of users. On top of that, it also has its
    family of apps consisting of WhatsApp, Instagram, Oculus, Messenger and so on. Facebook 
    continues to connect many people and only shows its continued prevalence as time passes.
    </pre>
</div>
                
        <img src= <%= data.hits[1].webformatURL %> >
        <br><br>
        
        <div class='link'>
            <a href='https://www.history.com/this-day-in-history/facebook-launches-mark-zuckerberg'>Link to Facebook's history</a>
        </div>
<%- include("partials/footer.ejs"); %>