<%- include("partials/header.ejs"); %>
        <header>
            <h1>Silicon Valley's Tech Industry</h1>
            <br>
            <h2>Click a link to view a company's origins</h2>
        </header>
        
        <h3>Random Company Catchprase</h3>
        <h4><%=cp%></h4>
        <br>
            <img src="img/tech.png" alt="Picture of tech logos" />
            <br><br>
            <div class="container">
                <pre>
        The tech industry no longer revolves around Silicon Valley. The tech industry has grown in speed, 
        companies, and creative ideas. However, as the industry continuously expands into nations all over
        the world, it becomes important to reflect just how companies such as Google, Facebook, & Spotify 
        helped paved the path for other companies today.
        Each company started with a small problem that someone wanted to fix so that 
        people would have a better experience; thanks to these creators, the world just continues to 
        improve thanks to technology.
        Please click on one of the three links to get a little insight into the tech company's past and 
        where they are now.
                </pre>
            </div>
        
<%- include("partials/footer.ejs") %>