<%- include("partials/header.ejs"); %>
            <img src="img/spotify.png" alt="Picture of tech logos" />
            <h2>Spotify's start</h2>

                <div class="container">
    <pre>
    Spotify started as a small startup in Stockholm, Sweden. It was founded by
    Daniel Ek and Martin Lorentzon in 2006. Spotify was the answer to a growing
    piracy problem the music industry faced. Eventually started as free with 
    advertisements to moving to premium for 10 dollars a month, Spotify was 
    a platform globablly known.
    </pre>
    
    <pre>
    Spotify is now a well known music streaming platform used by millions. There will
    always be a piracy problem but thanks to streaming services like Spotify, it helps
    in reducing that percentage by giving payment to the creators.
    </pre>
</div>

        <img src= <%= data.hits[3].webformatURL %> >
        <br><br>
        
        <div class='link'>
            <a href='https://en.wikipedia.org/wiki/Spotify'>Link to Spotify's history</a>
        </div>
<%- include("partials/footer.ejs"); %>